<div class="sub animated fadeInLeft">
    <div class="label text-muted"><%= newLabel %></div>
    <div class="progress">
        <div class="bar <%= color %>" style="width: <%= newNumber %>%">
            <div class="number"><%= newNumber %> %</div>
        </div>
    </div>
</div>