<div class="userInfo">
    <div class='name'><%= user.username %></div>
    <div class='rep-point'>Reps <%= user.repPoints %></div>
</div>
<div class="dropdown">
	<div class="logout">logout</div>
</div>
